
.bgcolor{

    background-color: rgb(179, 224, 165);
    }

    
    
    .bccolor{
        background-color: rgb(36, 123, 199);
    }
    bccolor{
        background-color: rgb(36, 123, 199);
    }
     